阅读下面的信息：

<article-list>
    {% for article in articles %}
        <article>
            <_id>{{ article._id }}</_id>
            <title>{{ article.title }}</title>
            <description>{{ article.description }}</description>
        </article>
    {% endfor %}
</article-list>


用户想关注最新的论文，但没有时间看全部内容。你需要阅读这些arxiv论文的标题、摘要等信息，选出最有希望发表于顶会的文章，至多10篇。

注意用户对纯理论推导不感兴趣。用户只关注那些贴近现实世界中的实际问题的研究。

你需要为你选出的文章编写中文导读，150字，不分段。语言风格要接近科技杂志向读者推荐这篇文章。

输出一个json列表，依次表示你选出的文章及其导读，质量高的文章排在前面。`_id` 字段要抄写原先的 <_id> 标签中的内容，不得改动任何字节。`intro` 字段填写导读内容。



输出样例：
```
[
{"_id": "https://rss.arxiv.org/atom/cs.cr/oai:arXiv.org:2602.01580v1", "intro": "远程调用开源大模型时，如何确保服务商没用廉价小模型糊弄你？SVIP协议给出了高效方案。它另辟蹊径，利用模型计算过程中的隐藏层特征生成独一无二的身份标识。即便服务商恶意替换模型，也难逃这套秘密验证机制的检测。该方案验证速度极快，单次请求耗时不足零点零一秒，且误报率极低。它让去中心化算力摆脱黑箱，为模型推理的安全性和真实性穿上了防弹衣。"},
{"_id": "https://rss.arxiv.org/atom/cs.cr/oai:arXiv.org:2602.01600v1", "intro": "价值 4000 万美元的加密资产在一夜之间蒸发。Step Finance 遭遇了严重的黑客袭击。黑客这次避开了复杂的协议漏洞，直接把目标对准公司高管的个人设备。只要突破核心管理层的防线，巨额资金就会瞬间失守。这次事故再次为行业敲响警钟。哪怕是顶尖的区块链项目，也可能栽在看似微小的终端安全隐患上。让我们深入复盘这场惊心动魄的财富洗劫案。"},
....
]
```


